# exclude MO2's meta.ini file
meta.ini
# exclude log files
*.log
# exclude BA2 archives
*.ba2
# exclude GTEMP.pas in the .vscode directory
.vscode/GTEMP.pas
# exclude python directories
.venv/
__pycache__
